{{>venta/navigation}}
<div class="col-md-8">
<div class="row">
    <h1>Registro de pedidos en reparto</h1>
</div>
<div class="row" >
  <table class="table table-striped">
    <thead>
      <tr>
        <th style="width: 10px">#</th>
       
        <th>#Factura</th>
        <th>Total Facturado</th>
        <th>Progreso de Entrega</th>
        <th style="width: 40px">Estado</th>
        <th style="width: 40px">Accion</th>
      </tr>
    </thead>
    <tbody>
      {{#each pe}}
      <tr>
        <td>{{id}}</td>
        <td>FAC-{{cod_factura}}</td>
        
        <td style="text-align: center;">${{total}}</td>
        <td>
          <div class="progress progress-xs">
            <div class="progress-bar progress-bar-danger" style="width: {{porcentaje}}%"></div>
          </div>
        </td>
        <td><span class="badge {{color}}">{{estado}}</span></td>
        <td><a class="btn btn-primary" href="/pedido/transito/{{cod_factura}}">Ver detalle</a></td>
      </tr>
      {{/each}}

    </tbody>
  </table>

  <!-- /.card-body -->

</div>
</div>