<style>
    #myInput {
        background-position: 10px 12px;
        /* Position the search icon */
        background-repeat: no-repeat;
        /* Do not repeat the icon image */
        width: 100%;
        /* Full-width */
        font-size: 16px;
        /* Increase font-size */
        padding: 12px 20px 12px 40px;
        /* Add some padding */
        border: 1px solid #ddd;
        /* Add a grey border */
        margin-bottom: 12px;
        /* Add some space below the input */
    }

    #myTable {
        border-collapse: collapse;
        /* Collapse borders */
        width: 100%;
        /* Full-width */
        border: 1px solid #ddd;
        /* Add a grey border */
        font-size: 18px;
        /* Increase font-size */
    }

    #myTable th,
    #myTable td {
        text-align: left;
        /* Left-align text */
        padding: 12px;
        /* Add padding */
    }

    #myTable tr {
        /* Add a bottom border to all table rows */
        border-bottom: 1px solid #ddd;
    }

    #myTable tr.header,
    #myTable tr:hover {
        /* Add a grey background color to the table header and on hover */
        background-color: #f1f1f1;
    }
</style>

<div class="row" style="margin: 20px;">

    <div class="col-sm-4">
        <h1>Clientes</h1>
    </div>
    <div class="col-sm-4">
        <button class="btn btn-primary">Agregar</button>
    </div>
</div>
<div class="row">
    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." style="width: 800px;">
</div>
<div class="row" style="margin-right: 200px; margin-top:10px;">






    <!-- /.card-header -->

    <table id="myTable" class="table table-bordered table-striped">
        <thead>
            <tr class="header">
                <th>#</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Correo</th>
                <th>Celular</th>

                <th> </th>
                <th> </th>

            </tr>
        </thead>
        <tbody>
            {{#each c}}
            <tr>
                <td>CL-{{id}}</td>
                <td>{{nombre}}</td>
                <td>{{apellido}}</td>
                <td>{{correo}}</td>
                <td>{{celular}}</td>

                <td><button class="btn btn-primary">editar</button></td>
                <td><button class="btn btn-danger">eliminar</button></td>
            </tr>
            {{/each}}
        </tbody>
    </table>



</div>


<script>
    function myFunction() {

        // Declare variables
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");


        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[1];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>