<style>
  #myInput {
    background-position: 10px 12px;
    /* Position the search icon */
    background-repeat: no-repeat;
    /* Do not repeat the icon image */
    width: 100%;
    /* Full-width */
    font-size: 16px;
    /* Increase font-size */
    padding: 12px 20px 12px 40px;
    /* Add some padding */
    border: 1px solid #ddd;
    /* Add a grey border */
    margin-bottom: 12px;
    /* Add some space below the input */
  }

  #myTable {
    border-collapse: collapse;
    /* Collapse borders */
    width: 100%;
    /* Full-width */
    border: 1px solid #ddd;
    /* Add a grey border */
    font-size: 18px;
    /* Increase font-size */
  }

  #myTable th,
  #myTable td {
    text-align: left;
    /* Left-align text */
    padding: 12px;
    /* Add padding */
  }

  #myTable tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd;
  }

  #myTable tr.header,
  #myTable tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
  }
</style>
{{>inventario/navigation}}
<div class="col-md-8">



  <div class="row">


    <div class="col-md-6">
      <h3>Pantalones</h3>
    </div>


    <div class="col-sm-6">

      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
        Agregar
      </button>

      <!-- Modal -->
      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Registre el producto</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form action="/products" id="validationForm" name="validationForm" method="POST"
                enctype="multipart/form-data">
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="inputEmail4">Codigo de producto:</label>
                    <input type="text" class="form-control" name="cod" placeholder="Codigo Producto: PA###" required>

                  </div>

                </div>

                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="inputEmail4">Imagen:</label>
                    <div class="custom-file">

                      <input name="imagen" type="file" />
                    </div>
                  </div>

                </div>
                <div class="form-row">
                  <div class="col-md-4 mb-3">
                    <label for="validationDefault01">Nombre</label>
                    <input type="text" class="form-control" id="nombre" name="nombre"
                      onKeyPress="return soloLetras(event);" placeholder="Nombre" required>
                  </div>
                  <div class="col-md-4 mb-3">
                    <label for="validationDefault02">Categoria</label>
                    <select id="categoria" name="categoria" class="form-control">
                      <option selected>Seleccione una opcion</option>
                      {{#each categoria}}
                      <option value="{{id}}">{{nombre}}</option>
                      {{/each}}
                    </select>
                  </div>

                </div>
                <div class="form-row">
                  <div class="col-md-6 mb-3">
                    <label for="validationDefault03">Marca</label>
                    <select id="marca" name="marca" class="form-control">
                      <option selected>Seleccione una opcion</option>
                      {{#each marca}}
                      <option value="{{id}}">{{nombre}}</option>
                      {{/each}}
                    </select>
                  </div>
                  <div class="col-md-3 mb-3">
                    <label for="validationDefault04">Tela</label>
                    <select id="tela" name="tela" class="form-control">
                      <option selected>Seleccione una opcion</option>
                      {{#each tela}}
                      <option value="{{id}}">{{nombre}}</option>
                      {{/each}}
                    </select>
                  </div>

                </div>

                <div class="form-row">
                  <div class="col-md-4 mb-3">
                    <label for="validationDefault01">Precio Compra</label>
                    <input type="text" class="form-control" onKeyPress="return SoloNumeros(event);" name="precio_compra"
                      placeholder="Precio Compra" required>
                  </div>
                  <div class="col-md-4 mb-3">
                    <label for="validationDefault01">Precio Venta</label>
                    <input type="text" class="form-control" onKeyPress="return SoloNumeros(event);" name="precio_venta"
                      placeholder="Precio Venta" required>
                  </div>

                </div>
                <button type="submit" class="btn btn-primary">Agregar</button>

              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="row">
    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Buscar por nombre" style="width: 800px;">
  </div>

  <div class="row" style="margin-right: 200px;">
    {{#each p}}
    <div class="col-sm-4">
      <div class="info-box">
        <div class="info-box-content">
          <div class="info-box">
            <div class="info-box-content">
              <div class="row">
                <img src="../{{imagen}}" class="card-img">
              </div>

              <h2 class="card-title">{{nombre}}</h2>
              <h2 class="card-title"><br>{{marca}}/{{material}}</br></h2>
              <h2 class="card-title"><br></br></h2>

            </div>

          </div>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>


<script>

  //Se utiliza para que el campo de texto solo acepte letras
  function soloLetras(e) {
    key = e.keyCode || e.which;
    tecla = String.fromCharCode(key).toString();
    letras = " áéíóúabcdefghijklmnñopqrstuvwxyzÁÉÍÓÚABCDEFGHIJKLMNÑOPQRSTUVWXYZ";//Se define todo el abecedario que se quiere que se muestre.
    especiales = [8, 37, 39, 46, 6]; //Es la validación del KeyCodes, que teclas recibe el campo de texto.

    tecla_especial = false
    for (var i in especiales) {
      if (key == especiales[i]) {
        tecla_especial = true;
        break;
      }
    }

    if (letras.indexOf(tecla) == -1 && !tecla_especial) {

      return false;
    }
  }
  // La siguiente funcion valida el elemento input
  function SoloNumeros(evt) {
    if (window.event) {//asignamos el valor de la tecla a keynum
      keynum = evt.keyCode; //IE
    }
    else {
      keynum = evt.which; //FF
    }
    //comprobamos si se encuentra en el rango numérico y que teclas no recibirá.
    if ((keynum > 47 && keynum < 58) || keynum == 8 || keynum == 13 || keynum == 6) {
      return true;
    }
    else {
      return false;
    }
  }

  function ShowSelected() {
    /* Para obtener el valor */

    var categoria = document.getElementById("categoria").value;
    var marca = document.getElementById("marca").value;
    var tela = document.getElementById("tela").value;
    return parseInt(categoria, marca, tela);
  }
</script>