<div class="row" style="margin-right: 200px; margin-top:10px;">
  <div class="col-sm-4 ">
    <!-- small box -->
    <div class="small-box bg-info">
      <div class="inner">
        {{#each tpp}}
        <h3>{{totalPedido}}</h3>
        {{/each}}
        <p>Total Ordenes</p>
      </div>
      <div class="icon">
        <i class="ion ion-bag"></i>
      </div>

    </div>
  </div>

  <!-- ./col -->
  <div class="col-sm-4 ">
    <!-- small box -->
    <div class="small-box bg-success">
      <div class="inner">
        {{#each tv}}
        <h3>{{tventas}}<sup style="font-size: 20px">$ </sup></h3>
        {{/each}}
        <p>Ventas</p>
      </div>
      <div class="icon">
        <i class="ion ion-stats-bars"></i>
      </div>

    </div>
  </div>
  <!-- ./col -->
  <div class="col-4">
    <!-- small box -->
    <div class="small-box bg-warning">
      <div class="inner">
        {{#each tc}}
        <h3>{{total}}</h3>
        {{/each}}
        <p>Clientes </p>
      </div>
      <div class="icon">
        <i class="ion ion-person-add"></i>
      </div>

    </div>
  </div>
</div>




<!-- ./col -->

<div class="row">

  <div class="col-sm-4">
    <div class="info-box">

      <div class="info-box-content">
        <h1>Pedido Mas Recientes</h1>
        <div class="info-box">
          {{#each ped}}
          <img src="{{imagen}}" style="height: 150px; widht:150px;">
          <div class="info-box-content">
            <span class="info-box-number">Codigo Venta</span>
            <span class="info-box-number">{{codVenta}}</span>
            <span class="info-box-number">Total Facturado</span>
            <span class="info-box-number">${{total}}</span>
            <span class="info-box-number">Estado</span>
            <span class="badge {{color}}">{{estado}}</span>

          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="info-box">

      <div class="info-box-content">
        <h1>Producto Mas Visto</h1>
        {{#each prod}}
        <div class="info-box">

          <img src="{{imagen}}" style="height: 150px; widht:150px;">
          <div class="info-box-content">
     
            <span class="info-box-number">{{nombre}}</span>
            <span class="info-box-text">Veces en bolsa</span>
            <span class="info-box-number">{{suma}}</span>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
    <div class="info-box">

      <div class="info-box-content">
        <h1>Cliente Mas Frecuente</h1>
        {{#each cf}}
        <div class="info-box">
          <span class="info-box-icon bg-info"><i class="far fa-envelope"></i></span>
          <div class="info-box-content">
            <span class="info-box-text">{{nombre}} {{apellido}}</span>
            <span class="info-box-number">{{correo}}</span>

            <span class="info-box-number">{{celular}}</span>

          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>